# Build
build/

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.db
*.opendb
Debug/
Release/
x64/
x86/

# Compiled
*.exe
*.obj
*.o
*.pdb
*.ilk
*.lib
*.dll

# OS
.DS_Store
Thumbs.db

# --- Project Specific Notes ---
# DO NOT ignore the following (Ensure these are NOT in this file):
# /telemetry/   <-- We want to track the CSV files for the group
# /docs/        <-- We want to track the SRS and SDD PDFs
.idea
cmake-build-debug
